In [ ]:
import pandas as pd

# Dataset load

url = 'https://raw.githubusercontent.com/cleitonmoya/MAE001_Trabalho1/main/BBDC4.csv'
df = pd.read_csv(url, index_col=0, dayfirst=True, parse_dates=True)
df.sort_index(inplace=True)
df = df.loc['2019-01-01':'2019-03-31']

In [ ]:
df.head()

            Abertura  Máxima  Mínima  Fechamento  Volume Financeiro
Data
2019-01-02     27.59   29.12   27.42       28.83        933912177.0
2019-01-03     28.78   29.20   28.45       29.12        783288206.0
2019-01-04     28.88   29.47   28.56       28.89        606268108.0
2019-01-07     28.81   29.48   28.81       29.23        783195088.0
2019-01-08     29.31   29.42   28.56       29.41        861152755.0